.header {
  height: 40px;

  padding: 10px;

}

.header__logo {
  display: flex;
  align-items: flex-end;

  .logo__icon {
    height: 40px;
    margin-right: 10px;
    
    filter: drop-shadow(5px 8px 15px rgba(0, 0, 0, 0.2));
  }

  .logo__title {
    color: var(--secondary-dark);

    filter: drop-shadow(5px 8px 15px rgba(0, 0, 0, 0.2));
  }
}
