.daily-step-forecast.mat-table{
  width: 100%;
  padding: 0 20px;
  background-color: white;
  filter: var(--drop-shadow);
  font: normal 16px/1 "Open Sans", sans-serif;
  
  .mat-header-cell {
    font-weight: 500 !important;
  }

  & th,td{
    font-size: 17px;
    font-weight: 500;
    color: var(--text-dark);
  }

  tr:nth-child(odd){ 
    td{
    padding: 9px 5px 9px;
    white-space: nowrap;
      &:first-of-type{
        padding-left: 24px;
      }
      &:last-of-type{
        padding-right: 24px;
      }
    }
  }

  tr:nth-child(even){ 
    td{
      &:first-of-type{
        padding-left: 24px;
      }
      &:last-of-type{
        padding-right: 11.7%;
      }
    }
  }

  tr:first-of-type{
    td:first-of-type{
      color: var(--danger);
    }
  }
}

.daily-step-forecast__main-info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  white-space: normal;
  font-size: 17px;

  .main-info__icon {
    font-size: 40px;
    color: var(--primary);
  }
}

.wind__info{
  display: flex;
  align-items: center;
  .wind__icon{
    margin-right: 20px;
    font-size: 25px;
    color: var(--primary);
  }
}

.weather-column{
  width: 33%;
}

.wind-column,.pres-column,.rh-column{
  width: 15%;
}

td.mat-cell {
  border-bottom: 1px solid #A4A4A4;
}

th.mat-header-cell{
  border-bottom: 1px solid #A4A4A4;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.mat-column-expandedDetail {

  .element-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    overflow: hidden;
    gap: 0 40px;
  }
  
  .element-detail__col {
    flex-grow: 1;

    div {
      display: flex;
      justify-content: space-between;
      white-space: nowrap;
      font-size: 16px;
      color: var(--text-dark);
      padding-top: 5px;
      padding-bottom: 5px;
      
      .element-detail__value {
        text-align: right;
        font-weight: 300;
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 760px) {
  .mat-column-expandedDetail {
    .element-detail__col{
      div{
        font-weight: 500 ;
        font-size: 14px;
        .element-detail__value {
          font-size: 14px;
        }
      }
    }

    .element-detail {
      flex-direction: column;
      gap: 0;
    }
  }

  .daily-step-forecast{
    & th,td{
      font-size: 14px;
    }
  }

  .daily-step-forecast__main-info{
    font-size: 14px;
  }
}

@media (max-width: 441px){
  .daily-step-forecast.mat-table{
    padding: 0;
    tr:nth-child(odd){ 
      td{
        &:first-of-type{
          padding-left: 10px;
        }
        &:last-of-type{
          padding-right: 15px;
        }
      }
    }

    tr:nth-child(even){ 
      td{
        &:first-of-type{
          padding-left: 10px;
        }
        &:last-of-type{
          padding-right: 35px;
        }
      }
    }
  }
}

@media (max-width: 341px){
  .daily-step-forecast.mat-table{
    tr:nth-child(even){ 
      td{
        &:first-of-type{
          padding-left: 10px;
        }
        &:last-of-type{
          padding-right: 35px;
        }
      }
    }
  }
}

