<div class="sunrise-weather">

    <div class="sunrise-weather__img">
        <img src="./../assets/img/weather-sunrise.png" alt="sunrise image">
    </div>

    <div class="sunrise-weather__info">
        <hr>
        <div class="sunrise-weather__card">

            <div class="sunrise__time">
                <img src="./../assets/img/sunrise-time.svg" alt="Sunrise time">
                <span>Sunrise time</span>
                <span class="info__value">8:07a.m.</span>
            </div>
            <div class="sunset__time">
                <img src="./../assets/img/sunset-time.svg" alt="Sunset time">
                <span>Sunset time</span>
                <span class="info__value">5:23p.m.</span>
            </div>
        </div>
        <div class="sunrise-weather__info-main">
            <div class="info__sun">
                <span>Baylight duration</span>
                <span class="info__value">9h. 30min.</span>
            </div>
            <div class="info__sun">
                <span>Solar elevation angle</span>
                <span class="info__value">63 deg.</span>
            </div>
        </div>
    </div>


</div>