.navs {
  margin-bottom: 20px;

  .navs__link {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    
    padding: 5px 20px;

    text-align: center;
    color: var(--text-dark);
    text-decoration: none;

    background-color: var(--secondary);
    border: 1px solid var(--secondary-dark);

  }

  .selected {
    color: var(--text-light);

    background-color: var(--primary);
    border: 1px solid var(--primary-dark);
  }
}

@media (max-width: 700px) {
  .navs {
    display: flex;

    .navs__link  {
      flex-grow: 1;

      font-size: 16px;

      min-width: 30px;
      padding: 3px 7px;
    }
  }
}