<div class="right-now-weather">

  <h2 class="right-now-weather__title">
    Weather in the
    <span class="title__city-name"> {{(locationService.locationChange$ | async)?.city}} </span> 
    right now
  </h2>

  <div class="right-now-weather__main-info">
    <i class="wi main-info__icon" [ngClass]="weatherService.rightNowWeather.icon_code || ''"></i>
    <p class="main-info__text">{{weatherService.rightNowWeather.description | titlecase}}</p>
  </div>

  <div class="right-now-weather__info">

    <hr>
    <div class="info__line">
      <div class="info__line__item">
        <span>Air temp</span>
        <span class="info__value">{{weatherService.rightNowWeather.temp}}</span>
      </div>
  
      <hr>
      <div class="info__line__item">
        <span>Feels like</span>
        <span class="info__value">{{weatherService.rightNowWeather.feels_like}}</span>
      </div>
    </div>

    <hr>
    <div class="info__line">
      <div class="info__line__item">
        <span>Wind</span>
        <span class="info__value">{{weatherService.rightNowWeather.wind.speed}} m/s</span>
      </div>
  
      <hr>
      <div class="info__line__item">
        <span>Pressure</span>
        <span class="info__value">{{weatherService.rightNowWeather.pressure}} mb</span>
      </div>
    </div>

    <hr>
    <div class="info__line">
      <div class="info__line__item">
        <span>Humidity</span>
        <span class="info__value">{{weatherService.rightNowWeather.humidity}}%</span>
      </div>
  
      <hr>
      <div class="info__line__item">
        <span>Visibility</span>
        <span class="info__value">{{weatherService.rightNowWeather.visibility}} m</span>
      </div>
    </div>

</div>

