.weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  width: 100%;

  .weather__now {
    flex: 0 1 49%;
  }

  .weather__sunrise {
    flex: 0 1 49%;

    background-color: var(--white);
    filter: var(--drop-shadow);
  }

  .weather__by-hours{
    flex: 100%;
    max-width: 100%;
  }
}

.spinner {
  width: 100%;
  height: 60vh;
}

@media (max-width: 720px) {
  .weather {
    .weather__now{
      flex: 100% !important;
    }
    
    .weather__sunrise {
      flex: 100% !important;
    }
  }
}

