<div class="weather" [ngSwitch]="requestState">
  <ng-template ngSwitchCase="fulfilled">
    <app-right-now-weather class="weather__now" [forecast]="weatherService.todayWeather.rightNowWeather"></app-right-now-weather>
    <app-sunrise-weather class="weather__sunrise"></app-sunrise-weather>
    <app-hourly-forecast class="weather__by-hours" [hourlyForecast]="weatherService.todayWeather.hourlyForcast"></app-hourly-forecast>
  </ng-template>

  <ng-template ngSwitchCase="loading">
    <app-spinner class="spinner"></app-spinner>
  </ng-template>

  <ng-template ngSwitchCase="failed">
    <div>Error. Try again</div>
  </ng-template>
</div>