@import '~swiper/css';
@import '~swiper/css/pagination';
@import '~swiper/css/navigation';

.swiper {
  width: 100%;
  height: 350px;
}

.swiper-wrapper{
  & :nth-child(n){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 85%;
    margin-top: 15px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  padding: 10px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  border: 1px solid var(--secondary);
  filter: var(--drop-shadow);

  &:last-child {
    margin-right: 20px;
  }
}


.hourly-forecast {
  text-align: center;

  padding: 10px 0;
  
  filter: var(--drop-shadow);

  .forecast__icon {
    font-size: 50px;
    color: var(--primary);
  }
  
  .forecast__value {
    font-weight: 300;
  }
  
  .forecast__value:last-child{
    margin-bottom: 30px;
  }
}
