.mat-button-toggle-group {
  height: 40px;

  color: var(--secondary-dark);

  border-radius: 0;
  filter: var(--drop-shadow);

  .mat-button-toggle {
    display: flex;
    font-size: 14px;
    align-items: center;
    
    background-color: var(--secondary);
    border: 1px solid var(--primary-dark);

  }
  .mat-button-toggle-checked {
    color: var(--text-light);
  
    background-color: var(--primary);
    border: 1px solid var(--secondary-dark);
  }
}
