<table mat-table [dataSource]="weatherService.DailyStepForecast" class="mat-elevation-z8 daily-step-forecast" multiTemplateDataRows>

  <ng-container matColumnDef="valid_date">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element"> {{element.valid_date | localizedDate : 'EEE, MMM d' }} </td>
  </ng-container>

  <ng-container class="daily-step-forecast__weather" matColumnDef="weather">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td class="weather-column" mat-cell *matCellDef="let element">
      <div class="daily-step-forecast__main-info">
        <div>{{ addSignToTemp(element.temp) }}</div>
        <i class="wi main-info__icon" [ngClass]="'wi-owm-' + element.weather.code || ''"></i>
        <p>{{element.weather.description | capitalize}}</p>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="wind_spd">
    <th mat-header-cell *matHeaderCellDef> {{ 'INFO.WIND' | translate }} </th>
    <td class="wind-column" mat-cell *matCellDef="let element">
      <div class="wind__info">
        <i class="wi wi-wind wind__icon" [ngClass]="'towards-' + element.wind_dir + '-deg' || ''"></i> 
        <p>{{element.wind_spd}} {{ 'UNITS.M_S' | translate }}</p>
      </div> 
    </td>
  </ng-container>

  <ng-container matColumnDef="pres">
    <th mat-header-cell *matHeaderCellDef> {{ 'INFO.PRESSURE' | translate }} </th>
    <td class="pres-column" mat-cell *matCellDef="let element"> {{element.pres}} {{ 'UNITS.MB' | translate }} </td>
  </ng-container>

  <ng-container matColumnDef="rh">
    <th mat-header-cell *matHeaderCellDef> {{ 'INFO.HUMIDITY' | translate }} </th>
    <td class="rh-column" mat-cell *matCellDef="let element"> {{element.rh}}% </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length + 1">
      <div class="element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
           <div class="element-detail__col">
              <div>
                <span>{{ 'INFO.MAXIMUM_TEMPERATURE' | translate }}</span>
                <span class="element-detail__value">{{addSignToTemp(element.max_temp)}}</span>
              </div>
              <div>
                <span>{{ 'INFO.MINIMUM_TEMPERATURE' | translate }}</span>
                <span class="element-detail__value">{{addSignToTemp(element.min_temp)}}</span>
              </div>
              <div>
                <span>{{ 'INFO.PROBABILITY_OF_PRECIPITATION' | translate }}</span>
                <span class="element-detail__value">{{element.pop}}%</span>
              </div>
              <div>
                <span>{{ 'INFO.SNOW_DEPTH' | translate }}</span>
                <span class="element-detail__value">{{element.snow_depth}} {{ 'UNITS.MM' | translate }}</span>
              </div>
            </div>
            <div class="element-detail__col">
              <div>
                <span>{{ 'INFO.CLOUD_COVERAGE' | translate }}</span>
                <span class="element-detail__value">{{element.clouds}}%</span>
              </div>
              <div>
                <span>{{ 'INFO.VISIBILITY' | translate }}</span>
                <span class="element-detail__value">{{element.vis}} {{ 'UNITS.KM' | translate }}</span>
              </div>
              <div>
                <span>{{ 'INFO.MAXIMUM_UV_INDEX' | translate }}</span>
                <span class="element-detail__value">{{element.uv}}</span>
              </div>
              <div>
                <span>{{ 'INFO.MOON_PHASE' | translate }}</span>
                <span class="element-detail__value">{{element.moon_phase}}</span>
              </div>
            </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>


